/*
FONT-FACE
*/

@font-face {
    font-family: 'Josefin-Sans';
    src: url('../vendors/JosefinSans.woff2') format('woff2'),
        url('../vendors/JosefinSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin-Sans-Bold';
    src: url('JosefinSans-Bold.woff2') format('woff2'),
        url('JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*
ELEMENT styles
*/

nav {
width: 100%;
height: 50px;
padding: 0 2rem;
text-align: center;
position: relative;`
}

label {
  font-family: 'Josefin-Sans-Bold';
  display: block;
}

form {
width: calc(100% - 300px);
margin: 0 auto;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

/*
CLASS styles
*/
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    font-family: 'Josefin-Sans', sans-serif;
  }

.block {
    width: calc(100% - 80px);
    margin: 0 2rem;
    padding: 0 0 2rem 0;
}

.block-skills {
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
  }

  .form-control {
    border-radius: 0px;
  }

  .name-input {
    display: inline-block;
    width: 49.5%;
  }

  .phone-email {
    display: inline-block;
    width: 49.5%;
  }

  .address-input {
    display: inline-block;
    width: 24.5%;
  }

  .chooseRep {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;  }

.verification-div {
  display: block;
  text-align: center;

}

.verification {
  display: inline-block;
  font-family: 'Josefin-Sans', sans-serif;
}

.verifyButton {
  display: block;
  margin: 0 auto;
}
