<select class="chooseRep" ng-model = "selectedDistrict">
  <optgroup label="Senators">
    <option ng-repeat = "district in districts" value = "{{district.number}}">{{district.senator}}</option>
 </optgroup>
 <optgroup label="Districts">
   <option ng-repeat = "district in districts" value = "{{district.number}}">{{district.number}}</option>
 </optgroup>
</select>
<div class="verification-div">
  <label class = 'verification'>Please Verify You Are Human</label>
  <input class = 'verification' type="checkbox" ng-model= "checkboxVerify">
  <button class="verifyButton" ng-click = 'contactSenator()' ng-class = "{'checked': checkboxVerify, 'unchecked': !checkboxVerify}"ng-disabled= "!checkboxVerify">Send Message to Senator</button>
</div>
